h1{
    color:blue;
    text-align: center;
    transition: 0.5s;
    position: relative;
    left: 100px;
    top:-50px;
    
}
.pic:hover{
    opacity: 1;
}
img{
    object-fit: cover;
    opacity: 0;
    position: relative;
    top:-50px;
    left: -50px;
    width: 200px;
    height: 300px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}