.punch{
    animation: moveAround;
    animation-duration: 0.5s;
}
.enemy{
    width: 500px;
    animation:movemore;
    animation-duration: 2s;
}
@keyframes moveAround{
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(-250px);
    }
}
@keyframes movemore{
    0%{
        transform: translateX(-100px);
    }
    25%{
        transform: translateX(-200px);
    }
    50%{
        transform: translateX(-300px);
    }
    75%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(-500px);
    }
}
body{
    display:block;
    text-align: center;
}
